JS/_minted-main/F67B791810B1C846EA859745350620D2920C9EBDDD817EE435B930B9CEAE1D57.pygtex
.aux
.log
.synctex.gz
JS/main.aux
JS/main.log
JS/main.synctex.gz
JS/dispersedKnowledge.aux
JS/tex/main.synctex.gz
JS/tex/ECMAScript.log
_minted-vue2proj
.gz
JS/tex/vue2proj.synctex.gz
